.screen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-1 {
  background: linear-gradient(300deg, var(--bg-dark), var(--bg-light));
  background-size: 120% 120%;
  animation: gradient-animation 12s ease infinite;
}

.screen-2 {
  background-color: light-dark(var(--light), var(--dark));
}
