:root {
  --backgroundImage: "bg/b1.webp";
}

.screen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
.screen:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.screen-1 {
  background-image: url("bg/b3.webp");
}
.screen-1:before {
  backdrop-filter: saturate(0) brightness(0.75);
}

.screen-2 {
  background-image: url("bg/b2.webp");
}

.screen-2:before {
  backdrop-filter: saturate(1) blur(0);
}

.screen-3 {
  background-image: url("bg/b3.webp");
}
.screen-3:before {
  backdrop-filter: saturate(2) blur(0px);
}
