/* screen = slide content */
.section {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease;
}

.section:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-content {
  position: relative;
  z-index: 1;
}

.inactive .section-logo {
  display: none;
}

/*
  section background effects
*/
.section-1:before {
  backdrop-filter: saturate(0.5) brightness(0.8) blur(0px) contrast(1.1);
}

.section-2:before {
  backdrop-filter: saturate(1) brightness(0.5) blur(10px);
}

.section-about:before {
  backdrop-filter: saturate(1) brightness(0.6) blur(10px);
  box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.33);
}

.section .section-logo {
  position: fixed;
  z-index: 1000;
  top: 1.5rem;
  left: 1rem;
  width: clamp(100px, 33vw, 160px);
  z-index: 10;
  opacity: 0.33;
  cursor: pointer;
}

/* MOBILE */
@media screen and (max-width: 799px) and (orientation: portrait) {
  .section {
    padding-top: 48px; /* header */
  }

  .section-content {
    width: 100vw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-tracks .playlist {
    padding-bottom: 120px;
  }
}

/* DESKTOP */
@media screen and (min-width: 800px) {
  /* topleft small Logo */
  .section .section-logo {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 10rem;
    z-index: 10;
    opacity: 0;
    animation: fallDown 1s ease-in-out forwards;
    animation-delay: 1s;
    cursor: pointer;
  }

  @keyframes fallDown {
    from {
      top: 0;
      opacity: 0;
    }
    to {
      top: 20px;
      opacity: 0.33;
    }
  }
}
