/* section = slide content */
.section {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  transition: all 0.33s ease;
}

.section:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-content {
  position: relative;
  z-index: 1;
}

.inactive .section {
  filter: brightness(0.5);
}

.inactive .section-logo {
  display: none;
}

/*
  section background effects
*/

/* FRONT SECTION */
.section-home:before {
  backdrop-filter: saturate(0.5) brightness(0.8) blur(0px) contrast(1.1) hue-rotate(0deg);
}

/* TRACKS SECTION */
.section-tracks {
  background-size: cover;
  background-position: 33% center;
}
.section-tracks:before {
  backdrop-filter: saturate(1) brightness(0.5) blur(10px);
  box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.33);
}

/* MIXES SECTION */
.section-mixes {
  background-size: cover;
  background-position: 25% center;
}
.section-mixes:before {
  backdrop-filter: saturate(1) brightness(0.5) blur(10px);
  box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.33);
}

/* CALENDAR SECTION */
.section-calendar:before {
  backdrop-filter: saturate(1) brightness(0.5) blur(10px);
  box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.33);
}

/* ABOUT SECTION */
.section-about:before {
  backdrop-filter: saturate(1) brightness(0.6) blur(10px);
  box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.33);
}

@keyframes animaCalendar {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 600%;
  }
}
@keyframes animaCalendarBefore {
  0% {
    backdrop-filter: brightness(0.66) blur(10px);
  }
  100% {
    backdrop-filter: brightness(0.33) blur(30px);
  }
}

@keyframes animaAbout {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 600%;
  }
}

.section .section-logo {
  position: fixed;
  z-index: 1000;
  top: 1.5rem;
  left: 1rem;
  width: clamp(100px, 33vw, 160px);
  z-index: 10;
  opacity: 0.33;
  cursor: pointer;
}

.section .sidebar {
  container: sidebar / inline-size;
}

@container sidebar (max-width: 400px) {
  .sidebar h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 0.5rem;
  }
}

/* MOBILE */
@media screen and (max-width: 799px) and (orientation: portrait) {
  .section {
    padding-top: 48px; /* header */
    padding-bottom: 0;
  }

  .section-content {
    width: 100vw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-tracks .playlist {
    padding-bottom: 120px;
  }
}

/* DESKTOP */
@media screen and (min-width: 800px) {
  /* topleft small Logo */
  .section .section-logo {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 10rem;
    z-index: 10;
    opacity: 0;
    animation: fallDown 1s ease-in-out forwards;
    animation-delay: 1s;
    cursor: pointer;
  }

  @keyframes fallDown {
    from {
      top: 0;
      opacity: 0;
    }
    to {
      top: 20px;
      opacity: 0.33;
    }
  }
}

@keyframes rhombe {
  0% {
    background-position: center top;
    background-size: 150%;
  }

  25% {
    background-position: right center;
    background-size: 100%;
  }

  50% {
    background-position: center bottom;
    background-size: 150%;
  }

  75% {
    background-position: left center;
    background-size: 100%;
  }

  100% {
    background-position: center top;
    background-size: 150%;
  }
}

@keyframes animaMixes {
  0% {
    background-position: center center;
    background-size: 500%;
  }

  100% {
    background-position: left center;
    background-size: 100%;
  }
}

@keyframes morph {
  0% {
    backdrop-filter: saturate(1) brightness(0.4) blur(5px);
  }
  100% {
    backdrop-filter: saturate(1.1) brightness(0.5) blur(10px);
  }
}

@keyframes morphMixes {
  0% {
    backdrop-filter: saturate(1) brightness(0.7) blur(2px);
  }
  100% {
    backdrop-filter: saturate(1.21) brightness(0.5) blur(10px);
  }
}

@media screen and (min-width: 800px) and (orientation: landscape) {
  /* MIXES SECTION */
  .section-mixes {
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-position: right center;
  background-size: 500%; */
  }

  .active .section-mixes {
    animation: animaMixes 10s ease-in-out;
    animation-iteration-count: 1;
  }

  .section-mixes:before {
    backdrop-filter: saturate(1) brightness(0.5) blur(10px);
    animation: morphMixes 30s cubic-bezier(0, 0.4, 0.77, 0.94) infinite alternate;
  }

  /* CALENDAR SECTION */
  .active .section-calendar {
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    animation: animaCalendar 120s ease-in-out infinite alternate;
    animation-delay: 2s;
  }

  .section-calendar::before {
    backdrop-filter: brightness(0.66) blur(5px);
    box-shadow: inset 0 0 150px 50px rgba(0, 0, 0, 0.5);
    animation: animaCalendarBefore 120s ease-in-out infinite alternate;
  }

  /* TRACKS SECTION */
  .section-tracks {
    background-size: 150%;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    animation: rhombe 60s ease-in-out infinite;
    animation-delay: 1s;
  }

  .section-tracks:before {
    animation: morph 15s ease-in-out infinite alternate;
  }

  /* ABOUT SECTION */
  .active .section-about {
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    animation: animaAbout 240s ease-in-out infinite alternate;
  }
}
